{% load i18n %}

{% block subject %}
{% if lang == 'ro' %}
{{ site_name }} - Confirmare schimbare parola
{% elif lang == 'ru' %}
{{ site_name }} - Подтверждение смены пароля
{% else %}
{{ site_name }} - Password change confirmation
{% endif %}
{% endblock %}


{% block html_body %}
{% if lang == 'ro' %}
<p>Parola ta a fost schimbata!</p>

<br>

<p>Iti multumim ca folosesti serviciul nostru!</p>

<br>

<p>Echipa {{ site_name }}</p>

{% elif lang == 'ru' %}
<p>Ваш пароль был изменен!</p>

<br>

<p>Спасибо за использование нашего сервиса!</p>

<br>

<p>Команда {{ site_name }}</p>


{% else %}
<p>Your password has been changed!</p>

<br>

<p>Thanks for using our service!</p>

<br>

<p>Team {{ site_name }}</p>
{% endif %}

{% endblock html_body %}