{% block subject %}
{% if lang == 'ro' %}
Resetarea parolei - {{ site_name }}
{% elif lang == 'ru' %}
Сброс пароля - {{ site_name }}
{% else %}
Password reset - {{ site_name }}
{% endif %}
{% endblock subject %}


{% block html_body %}
{% if lang == 'ro' %}
<p>Primisti acest e-mail deoarece ai solicitat o resetare a parolei pentru contul tau de utilizator la {{site_name}}.
</p>

<p>Acceseaza urmatorul link si alege o noua parola:</p>
<a style="display: inline-block; background-color: #757ce8; border-radius: 25px; color: white; padding: 14px 25px; text-align: center; text-decoration: none; min-width: 250px; "       
        href="{{ protocol }}://{{ domain }}/{{ url }}">Click aici</a>

<br>

<p>Numele tau. de utilizator, in cazul in care ai uitat: <b>{{ user.email }}</b></p>

<br>

<p>Iti multumim ca folosesti serviciul nostru!</p>

<br>

<p>Echipa {{ site_name }}</p>

{% elif lang == 'ru' %}
<p>Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя на
                {{site_name}}.</p>

<p>Пожалуйста, перейдите на следующую страницу и выберите новый пароль:</p>
<a style="display: inline-block; background-color: #757ce8; border-radius: 25px; color: white; padding: 14px 25px; text-align: center; text-decoration: none; min-width: 250px;  "
        href="{{ protocol }}://{{ domain }}/{{ url }}">Кликните сюда</a>

<br>

<p>Ваше имя пользователя, если забыли: <b>{{ user.email }}</b></p>

<br>

<p>Спасибо за использование нашего сервиса!</p>

<br>

<p>Команда {{ site_name }}</p>

{% else %}
<p>You're receiving this email because you requested a password reset for your user account at {{site_name}}.
</p>


<p>Please go to the following page and choose a new password:</p>
<a style="display: inline-block; background-color: #757ce8; border-radius: 25px; color: white; padding: 14px 25px; text-align: center; text-decoration: none; min-width: 250px; "
        href="{{ protocol }}://{{ domain }}/{{ url }}">Click here</a>

<br>

<p>Your username, in case you've forgotten: <b>{{ user.email }}</b></p>

<br>

<p>Thanks for using our service!</p>

<br>

<p>Team {{ site_name }}</p>

{% endif %}
{% endblock html_body %}